.firstCSS {
    border: double;
    border-color: Aqua;
}
.twoCSS {
    width: 120px;
    height: 70px;
}
.changeClass {
    border: solid;
    border-color: blue;
    width: 350px;
    height: 40px;
}
.sportClass {
    border: solid;
    border-color: blue;
    width: 150px;
    height: 50px;
}