body{
    margin: 0; padding: 0; font-size: 16px;
    font-family: "굴림", "Times New Roman", sans-serif;
}
h1{
    margin-top: 10px; margin-left: 70px;  font-size: 18px;
}
#firstDivision {
    margin-top: 20px; margin-left: 40px;
}
#sourceClone {
    position: relative;
    width: 100px; height: 100px; top: 10px; left:20px; 
	background-color: yellow;
}
#parentTarget {
    position: absolute;
    width: 300px; height: 150px; top: 230px; left: 90px;
	background-color: #B9BEFB;
}
#targetClone {
    position: absolute;
    width: 250px; height: 100px; top: 20px; left: 30px;
	background-color: #D8BFD8;    
}
#buttonArea, #showArea {margin-top: 20px;}
